body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
}
.blur {
  font-size: 30px;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.blur img {
  width: 110%;
  height: 120%;
  position: absolute;
  top: -5%;
  left: -5%;
}
.blur img.blurred {
  -webkit-filter: blur(12px);
  clip: rect(525px, 4000px, 525px, 0)
}
section {
  height: 800px;
  background: rgba(255,255,255,0.6);
  padding: 3rem 5rem;
  position: relative;
  margin-top: 500px;
}
h1 {
  margin: 0;
  font-weight: 100;
  font-size: 3rem;
}
div.wrapper {
  max-width: 1200px;
  margin: auto;
}